/*body{
    text-align: center;    
}
header{
    color: white;
    font-size: 50px;
    text-decoration: dotted;
    text-decoration-thickness: 30px;
}
label{
    font-size: 20px;
    color: orange;
}
input{
    color: black;
}
a{
    color: darkgreen;
}*/
